@import './../variables.scss';

footer {
  font-size: $fs-11;
  line-height: 24px;

  .footer-info {
    padding: 32px 0 70px;

    .outer-wrap {
      flex-wrap: wrap;
      justify-content: space-between;

      .section {
        display: flex;
        flex-basis: auto;
        flex-direction: column;

        width: 260px;
        margin-top: 30px;

        h2 {
          margin-bottom: 16px;

          font-size: 18px;
          line-height: 27px;
        }

        p {
          margin: 0;
        }

        @media (max-width: $breakpoint-xs-max) {
          flex-basis: 100%;
        }
      }

      .section + .section {
        margin-left: 50px;

        @media (max-width: 1240px) {
          margin-left: 0;
        }
      }
    }
  }

  .nav {
    padding: 40px 0 45px 0;

    .nav-wrapper {
      .item {
        @media (max-width: $breakpoint-xs-max) {
          width: 100%;
        }
      }

      .item + .item {
        margin-left: 15px;

        @media (max-width: $breakpoint-xs-max) {
          margin-top: 14px;
          margin-left: 0;
        }
      }

      @media (max-width: $breakpoint-xs-max) {
        display: flex;

        padding-right: 20px; //wtf?
      }
    }
  }
}

.socials {
  display: flex;
  align-items: center;

  &-item {
    &-img {
      vertical-align: middle;
    }
  }

  .socials-item + .socials-item {
    margin-left: 24px;
  }
}
