@import './../variables.scss';

footer {
  padding: 3rem 0 2rem 0;

  font-size: $fs-11;

  .footer-info {
    border-bottom: 1px solid $color-gray;

    .outer-wrap {
      flex-wrap: wrap;

      .section {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;

        margin-bottom: 74px;

        h2 {
          margin-bottom: 16px;

          font-size: 18px;
          line-height: 27px;
        }

        p {
          margin: 0;
        }

        @media (max-width: 960px) {
          flex-basis: 50%;

          margin-bottom: 30px;
        }

        @media (max-width: $breakpoint-xs-max) {
          flex-basis: 100%;
        }
      }
    }
  }

  .nav {
    margin: 0;
    padding: 40px 0 48px 0;
  }
}

.socials {
  display: flex;
  align-items: center;

  a + a {
    padding-left: 24px;
  }
}

.bg-linear {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
