@import './../variables.scss';

.page-app {
  padding-top: 100px;

  font-size: $fs-11;

  .app {
    justify-content: start;

    .content {
      flex-basis: 50%;
      padding-top: 16px;
    }

    .img {
      flex-basis: auto;
      margin-left: 9rem;

      @media (max-width: 900px) {
        margin-left: auto;
      }
    }

    @media (max-width: 650px) {
      flex-direction: column-reverse;
      justify-content: center;
      max-width: 370px;

      .content {
        flex-basis: 100%;
        padding-top: 0;
      }

      .img {
        max-width: 333px;
        margin: 0 auto;
      }
    }
  }
}
