@import './../variables.scss';

.page-description {
  padding: $base*50 0;

  color: $color-white;
  text-align: center;

  p {
    line-height: 24px;
  }

  * .btn {
    box-sizing: border-box;

    font-size: 13px;
    line-height: 19px;
  }

  .btn-mix,
  .btn-favorite {
    width: 200px;

    text-align: left;
  }

  .btn + .btn {
    margin-left: 1.5rem;

    @media (max-width: $breakpoint-xs-max) {
      margin-top: 24px;
      margin-left: 0;
    }
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 570px;
    margin: 0 auto;

    &-input {

      flex-basis: 39%;
      margin-bottom: 1.5rem;
      padding: $base*4 $base*5.2;

      background: transparent;
      border: 2px solid $color-dark-gray;
      border-radius: 3px;

      &::placeholder {
        color: $color-dark-gray;
        font-weight: $fw-700;
        font-size: 14px;
      }

      @media (max-width: 615px) {
        flex-basis: 100%;
        width: 100%;
      }
    }

    &-btn {
      width: 100%;
    }
  }
}

.btn-group {
  @media (max-width: $breakpoint-xs-max) {
    display: flex;
    flex-direction: column;
  }
}

.bg-banner {
  background-image: url('./../../images/banner.png');
  background-position: center;
  background-size: cover;
}

.bg-morten {
  background-image: url('./../../images/Morten Harket.png');
  background-position: center;
  background-size: cover;
}

.play-icon {
  width: 20px;
  height: 20px;
}

.heart-icon {
  width: 20px;
  height: 18px;
}
