@import './../variables.scss';

.page-description {
  padding: $base*50 0;

  color: $color-white;
  text-align: center;

  p {
    margin-bottom: 16px;

    line-height: 24px;

    @media (max-width: $breakpoint-xs-max) {
      margin-top: 16px;
    }
  }

  * .btn {
    box-sizing: border-box;

    font-size: 12.8px;
    line-height: 16px;
  }

  .btn-mix,
  .btn-favorite {
    width: 200px;

    line-height: 19.2px;

    text-align: left;
  }

  .btn + .btn {
    margin-left: 20px;

    @media (max-width: $breakpoint-xs-max) {
      margin-top: 28px;
      margin-left: 0;
    }
  }

  &-form {
    display: grid;
    grid-gap: 24px;
    grid-template-areas: "input-1 input-2" "btn btn";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    max-width: 570px;
    margin: 0 auto;

    &-input {
      height: 45px;
      padding-left: 20px;

      font-size: 14px;

      background: transparent;
      border: 2px solid $color-dark-gray;
      border-radius: 3px;

      &::placeholder {
        color: $color-dark-gray;
        font-weight: $fw-700;
      }
    }

    .input-1 {
      grid-area: input-1;
    }

    .input-2 {
      grid-area: input-2;
    }

    &-btn {
      grid-area: btn;
    }

    @media (max-width: 615px) {
      grid-gap: 16px;
      grid-template-areas: 'input-1' 'input-2' 'btn';
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    padding-top: 200px;
  }
}

.btn-group {
  @media (max-width: $breakpoint-xs-max) {
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint-xs-max) {
      margin-bottom: 10px;
    }
  }
}

.artist-title {
  margin-top: 48px;

  @media (max-width: $breakpoint-xs-max) {
    margin-top: 25px;
  }
}

.bg-banner {
  background-image: url('./../../images/banner.png');
  background-position: center;
  background-size: cover;
}

.bg-morten {
  background-image: url('./../../images/Morten Harket.png');
  background-position: center;
  background-size: cover;
}

.play-icon {
  width: 20px;
  height: 20px;
}

.heart-icon {
  width: 20px;
  height: 18px;
}
