@import './../variables.scss';

.section-card {
  @media (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: space-around;

    .pricing-item {
      flex-basis: 40%;
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    flex-direction: column;
  }
}

.pricing-item {
  margin-top: 46px;
  padding: 0 1.5rem;

  border-radius: 1rem;

  & + & {
    margin-left: 50px;

    @media (max-width: 900px) {
      margin-left: 0;
    }
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 200px;

    text-transform: uppercase;

    @media (max-width: $breakpoint-xs-max) {
      margin-top: 18px;
    }
  }

  .pricing-value {
    margin-top: 0;
    margin-bottom: 40px;

    font-size: 64px;
    line-height: 1em;

    sup {
      top: -1rem;
      left: -4px;

      font-size: $fs-3;
      text-transform: uppercase;
    }
  }

  .btn {
    display: block;
    box-sizing: content-box;
    margin-bottom: 64px;

    text-transform: uppercase;
  }
}

.page-pricing-footer {
  margin-top: 40px;
  margin-bottom: 0;
}

//---костыли---//
.pricing-footer {
  height: 57px;
  margin-top: 0;
  margin-bottom: 66px;

  font-size: $fs-small;
  line-height: 19.2px;
}
