body {
  font-family: 'Roboto', sans-serif;
  background-color: #08020D;
  font-size: 18px;
  line-height: 1.5;
  color: #CACACA; }

.outer-wrap {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase; }

@media (max-width: 575px) {
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px; } }

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase; }

@media (max-width: 575px) {
  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px; } }

h3 {
  font-weight: normal;
  font-size: 24px; }

@media (max-width: 575px) {
  h3 {
    font-size: 16px; } }

h4 {
  font-size: 18px;
  text-transform: uppercase; }

a,
ul {
  padding: 0;
  margin: 0; }

a {
  color: #CACACA;
  text-decoration: none; }

ul {
  list-style: none; }

.uppercase {
  text-transform: uppercase; }

.fs-16 {
  font-size: 16px; }

.m-0 {
  margin: 0; }

.ta-c {
  text-align: center; }

.flex {
  display: flex; }

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 5px; }

.btn-primary {
  color: #FFF;
  background-color: #34C176; }

.btn-disabled {
  background: transparent;
  border: 1px solid #FFF; }

.white {
  color: #FFF; }

.header {
  position: absolute;
  top: 25px;
  width: 100%;
  background: transparent; }

.header .outer-wrap {
  padding-top: 0; }

.main-nav {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: 12.8px; }

@media (max-width: 575px) {
  .main-nav {
    flex-direction: column;
    align-items: start;
    margin: 0; }
  .main-nav > * {
    margin-bottom: 18px; } }

.main-nav .logo {
  align-items: center; }

.main-nav .logo-img {
  width: 24px;
  height: 24px; }

.main-nav .logo-text {
  display: block;
  margin-left: 16px; }

.main-nav .search {
  position: absolute;
  right: 0;
  width: 248px; }

.main-nav .search-input {
  width: 100%;
  height: 24px;
  padding: 5px 10px;
  background-color: #3C3B3D;
  border: none;
  border-radius: 50px;
  outline: none; }

@media (max-width: 887px) {
  .main-nav .search {
    width: 12%; } }

@media (max-width: 575px) {
  .main-nav .search {
    position: static;
    width: 100%; } }

.nav {
  margin-left: 88px; }

.nav .nav-wrapper {
  align-items: center;
  justify-content: start; }

.nav .nav-wrapper .item a:hover {
  color: #E0E0E0; }

@media (max-width: 575px) {
  .nav .nav-wrapper .item {
    flex-basis: 100%; } }

.nav .nav-wrapper .item + .item {
  margin-left: 24px; }

@media (max-width: 575px) {
  .nav .nav-wrapper .item + .item {
    margin-left: 0; } }

@media (max-width: 575px) {
  .nav .nav-wrapper {
    flex-direction: column;
    align-items: start; } }

@media (max-width: 575px) {
  .nav {
    margin-left: 0; } }

.page-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 0;
  color: #FFF;
  text-align: center;
  background-image: url("./../../images/banner.png");
  background-position: center;
  background-size: cover; }

.page-description-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 570px;
  margin: 0 auto; }

.page-description-form input {
  flex-basis: 39%;
  margin-bottom: 1.5rem;
  padding: 16px 20.8px;
  background: transparent;
  border: 2px solid #CACACA;
  border-radius: 4px; }

.page-description-form input::-moz-placeholder {
  color: #CACACA;
  font-weight: 700;
  font-size: 14px; }

.page-description-form input:-ms-input-placeholder {
  color: #CACACA;
  font-weight: 700;
  font-size: 14px; }

.page-description-form input::placeholder {
  color: #CACACA;
  font-weight: 700;
  font-size: 14px; }

@media (max-width: 615px) {
  .page-description-form input {
    flex-basis: 100%;
    width: 100%; } }

.page-description-form input + input {
  margin-left: 24px; }

@media (max-width: 615px) {
  .page-description-form input + input {
    margin-left: 0; } }

.page-description-form .btn {
  width: 100%; }

.page-pricing {
  padding-top: 100px;
  color: #FFF;
  font-size: 16px;
  text-align: center; }

@media (max-width: 575px) {
  .section-card {
    flex-direction: column; } }

.pricing-item {
  margin-bottom: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem; }

.pricing-item + .pricing-item {
  margin-left: 50px; }

@media (max-width: 575px) {
  .pricing-item + .pricing-item {
    margin-left: 0; } }

.pricing-item h3 {
  margin-bottom: 200px;
  text-transform: uppercase; }

.pricing-item .pricing-value {
  padding-bottom: 24px;
  line-height: 1em; }

.pricing-item .pricing-value .price {
  font-size: 64px; }

.pricing-item .pricing-value .price sup {
  top: -1rem;
  left: -4px;
  font-size: 30px;
  text-transform: uppercase; }

.pricing-item .btn {
  display: block;
  box-sizing: content-box;
  margin-bottom: 64px; }

.bg-free {
  background: url("./../../images/subscribe_1.png") no-repeat;
  background-size: cover; }

.bg-stand {
  background: url("./../../images/subscribe_2.png") no-repeat;
  background-size: cover; }

.bg-premium {
  background: url("./../../images/subscribe_3.png") no-repeat;
  background-size: cover; }

.page-pricing-footer {
  margin-bottom: 64px; }

.pricing-footer {
  font-size: 12.8px; }

.page-news {
  padding-top: 100px; }

.news-item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  grid-template-areas: 'img body' 'img footer'; }

.news-item + .news-item {
  padding-top: 65px; }

.news-item:nth-of-type(2n) {
  grid-template-areas: 'body img' 'footer img'; }

@media (max-width: 900px) {
  .news-item:nth-of-type(2n) {
    display: flex;
    flex-direction: column; } }

@media (max-width: 900px) {
  .news-item {
    display: flex;
    flex-direction: column; } }

.news-item .news-img {
  grid-area: img;
  width: 100%; }

.news-item .news-body {
  grid-area: body; }

.news-item .news-body h3 {
  color: #FFF; }

.news-item .news-body p {
  margin: 0;
  font-size: 16px; }

.news-item .news-footer {
  grid-area: footer;
  font-size: 12.8px; }

.news-item .news-footer .author-name {
  margin: 0 16px 0 16px;
  color: #F89202;
  text-transform: uppercase; }

.news-item .news-footer .btn {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 30px;
  text-transform: uppercase; }

footer {
  font-size: 16px; }

footer .footer-info {
  flex-wrap: wrap;
  border-bottom: 1px solid #E0E0E0; }

footer .footer-info .section {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  margin-bottom: 74px; }

footer .footer-info .section h4 {
  margin-bottom: 16px; }

footer .footer-info .section p {
  margin: 0; }

@media (max-width: 960px) {
  footer .footer-info .section {
    flex-basis: 50%; } }

@media (max-width: 575px) {
  footer .footer-info .section {
    flex-basis: 100%; } }

footer .nav {
  margin: 0;
  padding: 40px 0 48px 0; }

.bg-linear {
  background: linear-gradient(to right, #95390c, #5328a1); }
