@import './variables.scss';

body {
  @include roboto;

  background-color: $color-black;
  font-size: $fs-1;
  line-height: 1.5;
  color: $color-dark-gray;
}

.outer-wrap {
  padding: 0 20px;

  @media (min-width: 1200px) {
    max-width: $base * 300;
  }
}

main {
  padding-bottom: 100px;
}

footer,
header,
.page-description {
  .outer-wrap {
    margin: 0 auto;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-bottom: 16px;

  @media (max-width: $breakpoint-xs-max) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

h1 {
  font-weight: $fw-700;
  font-size: $fs-7;
  line-height: $lh-90;
  text-transform: uppercase;

  @media (max-width: $breakpoint-xs-max) {
    font-weight: $fw-700;
    font-size: $fs-3;
    line-height: $lh-45;
  }
}

h2 {
  font-weight: $fw-700;
  font-size: $fs-4;
  line-height: $lh-57;
  text-transform: uppercase;

  @media (max-width: $breakpoint-xs-max) {
    font-weight: $fw-700;
    font-size: $fs-1;
    line-height: $lh-27;
  }
}

h3 {
  font-weight: normal;
  font-size: $fs-2;

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fs-11;
  }
}

h4 {
  margin: 0;

  font-weight: $fw-700;
  font-size: $fs-1;
  line-height: 27px;
  color: $color-white;
}

a,
ul {
  padding: 0;
  margin: 0;
}

a {
  color: $color-dark-gray;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  width: 99.8%;
  height: 1px;
  margin: 0;
  color: $color-gray;
}

.uppercase {
  text-transform: uppercase;
}

.fs-16 {
  font-size: 16px;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-7 {
  margin-top: 7px;
}

.mt-48 {
  margin-top: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.ta-c {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.jc-space_between {
 justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &-img,
  &-text {
    vertical-align: middle;
  }

  &-text {
    font-size: 12.8px;
    margin-left: 16px;
  }

  &-primary {
    color: $color-white;
    background-color: $color-green;
    &:hover {
      background-color: lighten($color-green, 5%);
    }
  }

  &-disabled {
    background: transparent;
    border: 1px solid $color-white;

    &:hover {
      background-color: rgba(white, 0.2);
    }
  }

  &-download {
    padding: 16px 40px;

    font-size: 12.8px;
  
    color: $color-white;
    background-color: $color-red;
    border-radius: 32px;

    &:hover {
      background-color: darken($color-orange, 5%);
    }
  }

  &-mix {
    background-color: $color-purple;
    border-radius: 5px;
  }

  &-favorite {
    background-color: $color-red;
    border-radius: 5px;
  }
}

input {
  color: $color-gray;
}

.active,
.white {
  color: $color-white;
}

.invert {
  filter: invert(1);
}
