@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url('./../fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url('./../fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url('./../fonts/Roboto-Bold.ttf') format('ttf');
}

@mixin roboto {
  font-family: Roboto, sans-serif;
}

$base: 4px;

$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1;
$breakpoint-md-min: 768px;

// === Colors ===
$color-black: #08020d;
$color-gray:  #e0e0e0;
$color-dark-gray: #cacaca;
$color-dark: #3c3b3d;
$color-green: #34c176;
$color-orange: #f89202;
$color-purple: #5328a1;
$color-red: #95390c;
$color-white: #fff;
// === /Colors ===

// === Font=size ===
$fs-7: $base * 15;
$fs-6: $base * 14;
$fs-5: $base * 12;
$fs-4: 38px;
$fs-3: 30px;
$fs-2: $base * 6;
$fs-1: $base * 4.5;
$fs-11: 16px;
$fs-small: 12.8px;
// === /Font-size ===

// === Font-weight ===
$fw-400: 400;
$fw-700: 700;
// === /Font-weight ===

// === Line-height ===
$lh-90: 90px;
$lh-57: 57px;
$lh-45: 45px;
$lh-27: 27px;
$lh-12: 12.8px;
// === /Line-height ===
